.git
.DS_Store
.claude
.dev
node_modules
**/node_modules
**/dist
**/.env
**/.env.*
**/.happy
**/*.log
**/*.jsonl
packages/happy-server/.pgdata
packages/happy-server/.minio
packages/happy-server/data
packages/happy-server/logs
**/.claude
**/.expo
**/.turbo
**/.next
**/ios/Pods
**/src-tauri/target
**/target
